<section class="section background" id="about">
    <div class="section__title">Background</div>
    <div class="section__content">
      <p>
        I'm currently a student at
        <a class="underline-link" href="https://www.amrita.edu/" target="_blank">Amrita University</a> studying Computer Science and Engineering. I am also a member of
        <a class="underline-link" href="https://amfoss.in/" target="_blank">amFOSS</a>, an Open Source Software club of my college.I am an
        active member. I help manage the day-to-day club activities, along with managing our social media campaigns, organizing events, working on
        technical projects, helping manage the community overall.
      </p>
  
      <p>
        As an engineering student, I enjoy using my technical skills to solve problems, to create new things
        and to contribute to the open source community. I am a self-starter and I am always looking for new challenges.
      </p>

      <p>
        <strong>When I am free</strong>, I would be probably playing <b>fortnite</b>, watching <b>Kdrama's</b> or 
        playing <b>football</b> with my friends.
      </p>
    </div>
  </section>
  